vpnc/.depend
vpnc/vpnc-debug.c
vpnc/vpnc-debug.h
vpnc/vpnc.8

# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects
*.so
*.so.*
*.dylib

# Executables
*.out
*.app
*.i*86
*.x86_64
*.hex
